<div class="stage_full_wh" reset-activity="reset-activity">
    <div class="barra_topo">
        <div class="voltar"><a go-home="go-home" vibrate="vibrate">voltar</a></div>
        <div class="titulo">Selecionar atividades</div>
        <div class="limpar"><a id="btn_limpar" clear-activities="clear-activities" vibrate="vibrate">Limpar</a></div>
    </div>
    <div class="stage_miolo">
        <ul class="lista_icones_atividades1" id="lista_tipo_atividade">
            <li ng-repeat="activity in activityType" on-finish-repeat="renderSvg">
                <span toggle-class="ativo" vibrate="vibrate" ng-click="setActivity(activity.ID)" id="btn_tipo_atividade_{{::activity.slug}}" class="btn_tipo_atividade" title="{{::activity.name}}">
                    <img ng-src="img/atividade_icone_{{::activity.slug}}.svg" class="svg svgHover" width="55" height="55" />
                </span>
                <strong>{{::activity.name}}</strong>
            </li>
        </ul>
    </div>
    <div class="barra_rodape">
        <a href="#atividades-lista" check-activities="check-activities" vibrate="vibrate" class="bt1 needsclick"><span>Buscar no parque</span></a>
        <img src="img/spacer.gif" class="borda" width="100%" height="10" />
    </div>
</div>