<div class="stage_full_wh">
    <div class="barra_topo">
        <div class="voltar"><a go-back="go-back" vibrate="vibrate">voltar</a></div>
        <div class="titulo estiloB">Núcleo {{::coresList.name}}</div>
        <div class="tipo"></div>
    </div>
    <div class="stage_miolo2 nucleo_descricao">
        <div class="stage_maxW1 padding_1 nucleo_bg1" ng-controller="tabsCtrl as panel">

            <div id="tabs" class="nucleo_submenu">
                <a ng-class="{active:panel.isSelected(1)}" ng-click="panel.selectTab(1)" vibrate="vibrate">Sobre</a>
                <a ng-class="{active:panel.isSelected(2)}" ng-click="panel.selectTab(2)" vibrate="vibrate">Contato</a>
                <a ng-class="{active:panel.isSelected(3)}" ng-click="panel.selectTab(3)" vibrate="vibrate">Como Chegar</a>
            </div>

            <div class="nucleo_conteudo1">
                <div class="titulo">
                    <span><img ng-src="img/logo_nucleo_{{::coresList.slug}}.svg" width="400" /></span>
                    <img src="img/spacer.gif" width="100%" height="10" class="borda1" />
                </div>

                <!-- TAB SOBRE -->
                <div ng-class="{'hide-tab':!panel.isSelected(1)}">
                    <div class="imagem_destaque">
                        <img ng-src="img/uploads/nucleo_{{::coresList.slug}}_destaque.jpg" class="imagem" width="740" height="315" />
                    </div>

                    <div class="box1" id="sobre">
                        <span class="titulo1">Núcleo {{::coresList.name}}</span>
                        <div ng-bind-html="coresList.content"></div>
                    </div>

                    <div ng-if="coresList.atividades[0].atividadeID">
                        <div class="box1">
                            <span class="titulo2">Atividades Neste Núcleo</span>
                        </div>
                        <ul class="lista_atividades2">
                            <li ng-repeat="atividade in coresList.atividades" on-finish-repeat="renderSvg">
                                <a href="#atividades-descricao/{{::atividade.atividadeID}}" vibrate="vibrate">
                                    <span class="icone"><img ng-src="img/atividade_icone_{{::atividade.atividadeSlug}}.svg" class="svg svgHover" width="40" height="40" /></span>
                                    <span class="texto"><strong>{{::atividade.atividadeNome}}</strong></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div ng-if="coresList.galeria_atrativos[0].imagem">
                        <div class="box1">
                            <span class="titulo2 b">Atrativos</span>
                        </div>
                        <div carousel="carousel" class="slider1 estiloB owl-carousel" data-pagination="true">
                            <div ng-repeat="gallery in coresList.galeria_atrativos">
                                <img class="picture" src="img/spacer.gif" style="background-image:url('{{::gallery.imagem}}');" width="100%" />
                                <span class="caption">{{::gallery.titulo}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TAB CONTATO -->
                <div ng-class="{'hide-tab':!panel.isSelected(2)}">
                    <div class="box1" id="contato">
                        <span class="titulo2 b">Contato</span>
                    </div>

                    <ul class="lista_contatos1">
                        <li>
                            <a href="tel:{{::coresList.telefone}}" vibrate="vibrate">
                                <span class="icone"><img src="img/icone_contato_telefone.svg" class="svg svgHover" width="40" height="40" /></span>
                                <span class="texto"><strong>Telefone</strong>{{::coresList.telefone}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:{{::coresList.email}}" vibrate="vibrate">
                                <span class="icone"><img src="img/icone_contato_email.svg" class="svg svgHover" width="40" height="40" /></span>
                                <span class="texto"><strong>E-mail</strong>{{::coresList.email}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://{{::coresList.site}}" vibrate="vibrate">
                                <span class="icone"><img src="img/icone_contato_browser.svg" class="svg svgHover" width="40" height="40" /></span>
                                <span class="texto"><strong>Site</strong>Acesse a página do Núcleo {{::coresList.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- TAB COMO CHEGAR -->
                <div ng-class="{'hide-tab':!panel.isSelected(3)}">
                    <div class="box1" id="como_chegar">
                        <span class="titulo2 b">Como chegar</span>
                        <div ng-bind-html="coresList.como_chegar"></div>
                    </div>

                    <ul class="lista_contatos1">
                        <li ng-repeat="address in coresList.enderecos">
                            <a href="#nucleo-como-chegar/{{::coresList.ID}}/{{::address.slug}}" vibrate="vibrate">
                                <span class="icone"><img src="img/icone_contato_rota.svg" class="svg svgHover" width="40" height="40" /></span>
                                <span class="texto"><strong>{{::address.local}}</strong> {{::address.endereco}}</span>
                            </a>
                            <a href="{{::address.geoUrl}}" vibrate="vibrate">
                                <span class="icone"><img src="img/icone_contato_browser.svg" class="svg svgHover" width="40" height="40" /></span>
                                <span class="texto"><strong>Google Maps</strong> Veja no aplicativo</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
